<div class="animated fadeIn apexo-body">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="ms-CommandBar">
            <div class="input-group">
              <div class="input-group-prepend ui-lg-9 ui-md-8 ui-sm-6 iconContainer-65">
                <!-- <button type="button" class="btn btn-light  btn-sm apex-btn" (click)="Payment_display=true">
                  <i class="icon-plus icons font-lg"></i>
                  Add New</button> -->
              </div>
              <div class="input-group-prepend ui-lg-3 ui-md-4 ui-sm-6">
                <button type="button" class="btn btn-light  btn-sm apex-btn">
                  <i class="icon-magnifier icons font-lg d-block mt-0"></i>
                </button>
                <input type="text" class="field-68" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="col-lg-12 col-md-12 col-sm-12 dca-data-table">
          <p-table [value]="PaymentData" [rows]="10" [responsive]="true" tableStyleClass="ms-table ui-table-responsive"
            sortMode="single">
            <ng-template pTemplate="header">
              <tr>
                <th [pSortableColumn]="treatment">
                  Patient
                  <p-sortIcon [field]="treatment" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
                <th [pSortableColumn]="expenses">
                  Treatment
                  <p-sortIcon [field]="expenses"></p-sortIcon>
                </th>
                <th [pSortableColumn]="doneAppointments">
                  Balance Due
                  <p-sortIcon [field]="doneAppointments"></p-sortIcon>
                </th>
                <th [pSortableColumn]="upcomingAppointments">
                  Amount
                  <p-sortIcon [field]="upcomingAppointments"></p-sortIcon>
                </th>
                <th [pSortableColumn]="upcomingAppointments">
                  Status
                  <p-sortIcon [field]="upcomingAppointments"></p-sortIcon>
                </th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-payment>
              <tr>
                <td (click)="show_treatmentDetails(treatment);">
                  <div class="root-71">
                    <div class=" coin-78">
                      <div class=" imageArea-80">
                        <div class="ms-Persona-initials initials-95" aria-hidden="true">
                          <span>F</span>
                        </div>
                        <div class=" image-84" style="width: 40px; height: 40px;">
                          <img class=" image-85" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="ms-Persona-details details-72">
                      <div class="primaryText-73">
                        <div class="ms-TooltipHost host_a3f87333">{{ payment.patient }}</div>
                      </div>
                      <div class="secondaryText-74">
                        <span>{{ payment.date }}</span>
                      </div>
                      <div class="tertiaryText-75">
                      </div>
                      <div class=" optionalText-76">
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  {{ payment.treatment }}
                </td>
                <td>
                  {{ payment.balance }}
                </td>
                <td>
                  {{ payment.amount }}
                </td>
                <td>
                  {{ payment.status }}
                </td>
                <td class="delete-td">
                  <button type="button" class="delete-button root-90" (click)="isDelete=true">
                    <div class="flexContainer-55">
                      <i class="cui-trash icons font-lg d-block mt-0"></i>
                    </div>
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>

    <p-sidebar [(visible)]="Payment_display" [blockScroll]="true" position="right" styleClass="custom_sidebar ui-sidebar-md"
      [showCloseIcon]="false" [modal]="true">
      <div class="card custom_card">
        <div class="card-header ui-g ms-CommandBar">
          <div class="ui-g-12 no-padding">
            <div class="root-71">
              <div class=" coin-78">
                <div class=" imageArea-80">
                  <div class="ms-Persona-initials initials-95" aria-hidden="true">
                    <span>F</span>
                  </div>
                  <div class=" image-84" style="width: 40px; height: 40px;">
                    <img class=" image-85" alt="">
                  </div>
                </div>
              </div>
              <div class="ms-Persona-details details-72">
                <div class="primaryText-73">
                  <div class="ms-TooltipHost host_a3f87333">fdsfdsfds</div>
                </div>
                <div class="secondaryText-74">
                  <span>fdsfdsf</span>
                </div>
                <div class="tertiaryText-75">
                </div>
                <div class=" optionalText-76">
                </div>
              </div>
              <span class="align-middle float-right">
                <button type="button" (click)="Payment_display=false" class="close" aria-label="Close">
                  <span style="font-size: 25px" aria-hidden="true">&times;</span>
                </button>
              </span>
            </div>
          </div>
        </div>
        <br />
        <p-scrollPanel [style]="{width: '100%', height: '650px'}">
          <div class="card-body">
            <div class="card">
              <div class="card-header" (click)="isCollapsedPaymentInfo = !isCollapsedPaymentInfo">
                Payment
                <div class="card-header-actions">
                  <!-- <i class="icon-arrow-down icons font-1xl d-block mt-0"></i> -->
                  <i [ngClass]="{'icon-arrow-down': isCollapsedPaymentInfo, 'icon-arrow-up': !isCollapsedPaymentInfo}"
                    class="icons font-1xl d-block mt-0"></i>
                </div>
              </div>
              <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsedPaymentInfo">
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="text-input">Treatment</label>
                  <div class="col-md-8">
                    <div class="input-group-prepend">
                      <input class="form-control" id="doctor" placeholder="" type="number">
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="text-input">Discount</label>
                  <div class="col-md-8">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="border:1px solid gray;border-radius:0px;">&#8377;</span>
                      <input class="form-control" id="doctor" placeholder="" type="number">
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="text-input">Balance Due</label>
                  <div class="col-md-8">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="border:1px solid gray;border-radius:0px;">&#8377;</span>
                      <input class="form-control" id="doctor" placeholder="" type="number">
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="text-input">Current Payable</label>
                  <div class="col-md-8">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="border:1px solid gray;border-radius:0px;">&#8377;</span>
                      <input class="form-control" id="doctor" placeholder="" type="number">
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="text-input">Total</label>
                  <div class="col-md-8">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="border:1px solid gray;border-radius:0px;">&#8377;</span>
                      <input class="form-control" id="doctor" placeholder="" type="number">
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="text-input">Status</label>
                  <div class="col-md-8">
                    <div class="input-group-prepend">
                      <label class="switch switch-pill switch-label switch-primary">
                        <input type="checkbox" class="switch-input" checked>
                        <span class="switch-slider" data-checked="" data-unchecked=""></span>
                      </label>
                      <label class="ms-Toggle-stateTex text-142">Paid</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" (click)="isCollapsedPaymentHistory = !isCollapsedPaymentHistory">
                Payment History
                <div class="card-header-actions">
                  <i [ngClass]="{'icon-arrow-down': isCollapsedPaymentHistory, 'icon-arrow-up': !isCollapsedPaymentHistory}"
                    class="icons font-1xl d-block mt-0"></i>
                </div>
              </div>
              <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsedPaymentHistory">
                <div class="form-group">
                  <label for="doctor">Filter</label>
                  <input class="form-control" id="doctor" placeholder="search" type="text">
                </div>
                <hr>
                <p style="text-align: right; font-size: 13px; color: rgb(158, 158, 158);">Results: 10 out of 10</p>
                <div class="appointment-thumbnail-component labeled paid clickable">
                  <div class="m-b-5">
                    <div class="root-71">
                      <div class="coin-78">
                        <div class="ms-Persona-imageArea imageArea-80">
                          <div class="ms-Persona-initials initials-120" aria-hidden="true"><span>AI</span></div>
                          <div class="image-84" style="width: 40px; height: 40px;"><img class="ms-Image-image ms-Image-image--cover ms-Image-image--portrait is-notLoaded is-fadeIn image-85"
                              alt=""></div>
                        </div>
                      </div>
                      <div class="ms-Persona-details details-72">
                        <div class="primaryText-73">
                          <div class="host_a3f87333">Amalgam C II</div>
                        </div>
                        <div class="secondaryText-74">
                          <div class="host_a3f87333">14 days ago</div>
                        </div>
                        <div class="tertiaryText-75"></div>
                        <div class="optionalText-76"></div>
                      </div>
                    </div>
                  </div>
                  <i class="delete cui-trash icons font-lg d-block mt-0" (click)="isDeleteAppointment=true"></i>
                </div>
                <div class="appointment-thumbnail-component labeled unpaid clickable">
                  <div class="m-b-5">
                    <div class="root-71">
                      <div class="coin-78">
                        <div class="ms-Persona-imageArea imageArea-80">
                          <div class="ms-Persona-initials initials-120" aria-hidden="true"><span>AI</span></div>
                          <div class="image-84" style="width: 40px; height: 40px;"><img class="ms-Image-image ms-Image-image--cover ms-Image-image--portrait is-notLoaded is-fadeIn image-85"
                              alt=""></div>
                        </div>
                      </div>
                      <div class="ms-Persona-details details-72">
                        <div class="primaryText-73">
                          <div class="host_a3f87333">Amalgam C II</div>
                        </div>
                        <div class="secondaryText-74">
                          <div class="host_a3f87333">14 days ago</div>
                        </div>
                        <div class="tertiaryText-75"></div>
                        <div class="optionalText-76"></div>
                      </div>
                    </div>
                  </div>
                  <i class="delete cui-trash icons font-lg d-block mt-0" (click)="isDeleteAppointment=true"></i>
                </div>
                <div class="appointment-thumbnail-component labeled paid clickable">
                  <div class="m-b-5">
                    <div class="root-71">
                      <div class="coin-78">
                        <div class="ms-Persona-imageArea imageArea-80">
                          <div class="ms-Persona-initials initials-120" aria-hidden="true"><span>AI</span></div>
                          <div class="image-84" style="width: 40px; height: 40px;"><img class="ms-Image-image ms-Image-image--cover ms-Image-image--portrait is-notLoaded is-fadeIn image-85"
                              alt=""></div>
                        </div>
                      </div>
                      <div class="ms-Persona-details details-72">
                        <div class="primaryText-73">
                          <div class="host_a3f87333">Amalgam C II</div>
                        </div>
                        <div class="secondaryText-74">
                          <div class="host_a3f87333">14 days ago</div>
                        </div>
                        <div class="tertiaryText-75"></div>
                        <div class="optionalText-76"></div>
                      </div>
                    </div>
                  </div>
                  <i class="delete cui-trash icons font-lg d-block mt-0" (click)="isDeleteAppointment=true"></i>
                </div>
              </div>
            </div>
          </div>
          <br />
          <br />
        </p-scrollPanel>
      </div>
    </p-sidebar>
    <p-sidebar [(visible)]="isDelete" position="bottom" styleClass="ui-sidebar-sm" [showCloseIcon]="false" [modal]="true"
      [baseZIndex]="10000">
      <div style="overflow-y: auto">
        <p>Are you sure you want to delete this payment?</p>
        <div style="margin-top: 5px">
          <button class="btn btn-square btn-sm btn-primary" (click)="isDelete=false" type="button">
            <i class="icon-check icons font-lg mt-0"></i>
            &nbsp;Confirm </button> &nbsp;
          <button class="btn btn-square btn-sm btn-primary" (click)="isDelete=false" type="button">
            <i class="icon-close icons font-lg mt-0"></i>
            &nbsp;Cancel</button>
        </div>
      </div>
      <br />
    </p-sidebar>
  </div>
  <br />
  <br />
</div>