<div class="animated fadeIn apexo-body">
  <div class="row">
    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12">
          <div class="ms-CommandBar">
            <div class="input-group">
              <div class="input-group-prepend ui-lg-10 ui-md-8 ui-sm-6">
                <button type="button" class="btn btn-light  btn-sm apex-btn" (click)="doctordetails_display=true">
                  <i class="icon-plus icons font-lg"></i>
                  Add New</button>
              </div>
              <div class="input-group-prepend ui-lg-2 ui-md-4 ui-sm-6">
                <button type="button" class="btn btn-light  btn-sm apex-btn ">
                  <!-- <i class="fa fa-search"></i> -->
                  <i class="icon-magnifier icons font-lg d-block mt-0"></i>
                </button>
                <input type="text" class="field-68" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
              </div>
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-12 dca-data-table">
          <p-table [value]="prescriptionsData" [rows]="10" [responsive]="true" tableStyleClass="ms-table ui-table-responsive"
            sortMode="single">
            <ng-template pTemplate="header">
              <tr>
                <th [pSortableColumn]="name">
                  Item name
                  <p-sortIcon [field]="name" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
                <th [pSortableColumn]="dose">
                  Dose
                  <p-sortIcon [field]="dose"></p-sortIcon>
                </th>
                <th [pSortableColumn]="frequency">
                  Frequency
                  <p-sortIcon [field]="frequency"></p-sortIcon>
                </th>
                <th [pSortableColumn]="from">
                  Form
                  <p-sortIcon [field]="from"></p-sortIcon>
                </th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-prescriptions>
              <tr>
                <td (click)="show_prescriptionsDetails(prescriptions);">
                  <div class="root-71">
                    <div class=" coin-78">
                      <div class=" imageArea-80">
                        <div class="ms-Persona-initials initials-95" aria-hidden="true">
                          <span>F</span>
                        </div>
                        <div class=" image-84" style="width: 40px; height: 40px;">
                          <img class=" image-85" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="ms-Persona-details details-72">
                      <div class="primaryText-73">
                        <div class="ms-TooltipHost host_a3f87333">{{ prescriptions.name }}</div>
                      </div>
                      <div class="secondaryText-74">
                        <span>{{ prescriptions.item }}</span>
                      </div>
                      <div class="tertiaryText-75">
                      </div>
                      <div class="optionalText-76">
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  {{ prescriptions.dose }}
                </td>
                <td>
                  {{ prescriptions.frequency }}
                </td>
                <td>
                  {{ prescriptions.from }}
                </td>
                <td class="delete-td">
                  <button type="button" class="delete-button root-90" (click)="isDelete=true">
                    <div class="flexContainer-55">
                      <i class="cui-trash icons font-lg d-block mt-0"></i>
                    </div>
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>

    <p-sidebar [(visible)]="prescriptions_display" [blockScroll]="true" position="right" styleClass="custom_sidebar ui-sidebar-md"
      [showCloseIcon]="false" [modal]="true">
      <div class="card custom_card">
        <div class="card-header ui-g ms-CommandBar">
          <div class="ui-g-12 no-padding">
            <div class="root-71">
              <div class=" coin-78">
                <div class=" imageArea-80">
                  <div class="ms-Persona-initials initials-95" aria-hidden="true">
                    <span>F</span>
                  </div>
                  <div class=" image-84" style="width: 40px; height: 40px;">
                    <img class=" image-85" alt="">
                  </div>
                </div>
              </div>
              <div class="ms-Persona-details details-72">
                <div class="primaryText-73">
                  <div class="ms-TooltipHost host_a3f87333">Azithromycin</div>
                </div>
                <div class="secondaryText-74">
                  <span>500mg 3X1 capsule</span>
                </div>
                <div class="tertiaryText-75">
                </div>
                <div class=" optionalText-76">
                </div>
              </div>
              <span class="align-middle float-right">
                <button type="button" (click)="treatment_display=false" class="close" aria-label="Close">
                  <span style="font-size: 25px" aria-hidden="true">&times;</span>
                </button>
              </span>
            </div>
          </div>
        </div>
        <br />
        <p-scrollPanel [style]="{width: '100%', height: '650px'}">
          <div class="card-body">
            <div class="card">
              <div class="card-header" (click)="isCollapsedTreatmentInfo = !isCollapsedTreatmentInfo">
                Prescription details
                <div class="card-header-actions">
                  <!-- <i class="icon-arrow-down icons font-1xl d-block mt-0"></i> -->
                  <i [ngClass]="{'icon-arrow-down': isCollapsedTreatmentInfo, 'icon-arrow-up': !isCollapsedTreatmentInfo}"
                    class="icons font-1xl d-block mt-0"></i>
                </div>
              </div>
              <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsedTreatmentInfo">
                <div class="form-group">
                  <label for="doctor">Item name</label>
                  <input class="form-control" id="doctor" placeholder="" type="text">
                </div>
                <div class="form-group">
                  <label for="doctor">Dosage in mg</label>
                  <input class="form-control" id="doctor" placeholder="" type="number">
                </div>
                <div class="form-group">
                  <label for="doctor">Times per day</label>
                  <input class="form-control" id="doctor" placeholder="" type="number">
                </div>
                <div class="form-group">
                  <label for="doctor">Units per time</label>
                  <input class="form-control" id="doctor" placeholder="" type="number">
                </div>
                <div class="form-group">
                  <label for="doctor">Item form</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option value="1">ampoule</option>
                    <option value="2">capsule</option>
                    <option value="3">tablet</option>
                    <option value="4">pill</option>
                    <option value="5">gel</option>
                    <option value="6">lotion</option>
                    <option value="7">syrup</option>
                    <option value="8">powder</option>
                    <option value="9">mouthwash</option>
                    <option value="10">suspension</option>
                    <option value="11">toothpaste</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Active</label>
                  <div class="input-group-prepend">
                    <label class="switch switch-pill switch-label switch-primary">
                      <input type="checkbox" class="switch-input" checked>
                      <span class="switch-slider" data-checked="Yes" data-unchecked="No"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p-scrollPanel>
      </div>
    </p-sidebar>

    <p-sidebar [(visible)]="isDelete" position="bottom" styleClass="ui-sidebar-sm" [showCloseIcon]="false" [modal]="true"
      [baseZIndex]="10000">
      <div style="overflow-y: auto">
        <p>Are you sure you want to delete Amoxicillin's prescription.</p>
        <div style="margin-top: 5px">
          <button class="btn btn-square btn-sm btn-primary" (click)="isDelete=false" type="button">
            <i class="icon-check icons font-lg mt-0"></i>
            &nbsp;Confirm </button> &nbsp;
          <button class="btn btn-square btn-sm btn-primary" (click)="isDelete=false" type="button">
            <i class="icon-close icons font-lg mt-0"></i>
            &nbsp;Cancel</button>
        </div>
      </div>
      <br />
    </p-sidebar>
  </div>
</div>