// Variable overrides
$body-bg: #ffffffea;
$body-color: #111;

$sidebar-color:black; 
$sidebar-bg:#fff; 

//  $sidebar-header-bg:green;
$sidebar-form-color:black;
$sidebar-form-bg:#fff;

$sidebar-form-placeholder-color:red;

$sidebar-nav-title-color:black;

$sidebar-nav-link-color:black;
$sidebar-nav-link-bg:#fff;

$sidebar-nav-link-icon-color:black;

// active 
$sidebar-nav-link-active-color:#fff;
$sidebar-nav-link-active-bg:#20a8d8;
$sidebar-nav-link-active-icon-color:#fff;

//hover
$sidebar-nav-link-hover-color:#fff;
$sidebar-nav-link-hover-bg:#757575;
$sidebar-nav-link-hover-icon-color:#fff;

// $sidebar-nav-dropdown-indicator-hover:red; 
// $sidebar-nav-dropdown-indicator:blue;

$sidebar-nav-link-disabled-color:red;
$sidebar-nav-link-disabled-icon-color:red;
  

$sidebar-nav-dropdown-bg:#fff;
$sidebar-nav-dropdown-color:black;
$sidebar-nav-title-color:red; 
$sidebar-footer-bg:#fff;
$sidebar-minimizer-bg:#ffff;
$sidebar-minimizer-hover-bg:#757575; 


//style="transition: all .4s;  box-shadow: 0 5px 20px rgba(0,0,0,.1);  background: #fff; color: black"